<div class="flexslider" id="sideBarCarousel--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow-section" data-slider-home-auto="{{ section.settings.slider_home_auto }}" data-slider-home-rate="{{ section.settings.slider_home_rate }}">
{% assign featured_row = section.settings.home_featured_row %}

{%- assign product_limit = section.settings.product_limit -%}
{% assign header_title = collections[featured_row].title %}
{%- assign more_link = collections[featured_row].url -%}

<div class="section-header">
  <p class="h1 section-header--left">{{ header_title }}</p>
</div>

{% if collections[featured_row].all_products_count != 0 and section.settings.home_featured_row != blank %}

  <ul class="slides">
    {% for product in collections[featured_row].products limit: product_limit %}
      {% assign current_collection = collections[featured_row] %}
      <li id="slide--{{ forloop.index0 }}" data-flexslider-index="{{ forloop.index0 }}">
        {% include 'grid-item-content' %}
      </li>
    {% endfor %}
  </ul>

{% else %}
  <div class="section-header">
    <p class="h1 section-header--left">{{ section.settings.title | escape }}</p>
    <div class="section-header--right">
      <a href="{{ collections[featured_row].url }}">{{ 'homepage.featured_collection_rows.more' | t }} &rsaquo;</a>
    </div>
  </div>

  <div class="grid text-center row-negative-bottom">
    <div class="grid-item">
      <div class="grid-uniform">
        {% for i in (1..product_limit) %}
          <div class="grid-item {{ grid_item_width }} text-center">
            {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            <p><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a> $19.99</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
</div>
{% schema %}
  {
    "name": "Featured collection",
    "class": "clearfix",
    "settings": [
      {
        "type": "checkbox",
        "id": "slider_home_auto",
        "label": "Auto-rotate slides"
      },
      {
        "type": "select",
        "id": "slider_home_rate",
        "label": "Transition time",
        "options": [
          {
            "value": "5000",
            "label": "5 seconds"
          },
          {
            "value": "7000",
            "label": "7 seconds"
          },
          {
            "value": "10000",
            "label": "10 seconds"
          },
          {
            "value": "15000",
            "label": "15 seconds"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "home_featured_row",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "product_limit",
        "label": "Product Limit"
      },
      {
        "type": "checkbox",
        "id": "product_show_saved_amount",
        "label": "Show saved amount",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_show_compare_at_price",
        "label": "Show compare at price",
        "default": false
      }
    ],
    "presets":
    [
      {
        "name": "Featured Products - Sidebar",
        "category": "Collections"
      }
    ]
  }
{% endschema %}
